.header-class {
  align-items: center;
  background-color: #1d1d1d;
  display: flex;
  height: 100%;
  flex-direction: column-reverse;
}

.header-left {
  display: flex;
  justify-content: space-around;
}

#header-logo {
  width: 35%;
}

.profile-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name-class {
  color: #fff;
  margin-bottom: 0;
  margin-top: 0.5rem;
  
}

.profile-picture {
  border-radius: 50px;
  width: 90%;
}

.links-el {
  display: flex;
  justify-content: left;
  list-style-type: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

  li a {
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
  }
