@media screen and (min-width: 375px){
  .login {
    margin: 1rem 0;
  }

  #logo-img {
    width: 80%;
  }
}

@media screen and (min-width: 414px){
  .login {
    margin: 4rem 0;
  }

  #logo-img {
    width: 90%;
  }
}

@media screen and (min-width: 768px){
  .login {
    margin: 5rem 0;
  }

  #logo-img {
    margin-top: 1rem;
    width: 40%;
  }
}

@media screen and (min-width: 1024px){
  .login {
    margin: 3rem 0;
  }

  #logo-img {
    margin-top: 1rem;
    width: 35%;
  }

  .login-div-class {
    width: 60%;
  }
}

@media screen and (min-width: 1280px){
  .login {
    /* margin: 1rem 0; */
  }

  #logo-img {
    margin-top: 1rem;
    width: 35%;
  }

  .login-div-class {
    width: 60%;
  }
}

@media screen and (min-width: 1600px){
  .login {
    margin: 1rem 0;
  }

  #logo-img {
    margin-top: 3rem;
    width: 25%;
  }

  .login-div-class {
    width: 30%;
  }
}

/* @media screen and (min-width: 1920px){
  .login {
    margin: 0;
  }

  #logo-img {
    margin-top: 3rem;
    width: 20%;
  }

  .login-div-class {
    width: 30%;
    color: red;
  }
} */

/* @media screen and (max-height: 415px){ 
  .login {
    margin: 0;
  }

  #logo-img {
    margin-top: 1rem;
    width: 30%;
  }

  .login-div-class {
    width: 60%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }

  #input-email, #input-name{
    margin: 5px 0;
    height: 1.5rem;
  }
} */