.header-class {
  align-items: center;
  background-color: rgb(21, 72, 87);
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 10px;
}

.user-name-class {
  padding: 10px;
}

.profile-preview {
  display: flex;
}

.profile-picture {
  border-radius: 50px;
}

.name-el {
  position: absolute;
  right: 90px;
  top: 20px;
}

.links-el {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
